*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}

/* Header */

.header {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: hsl(0, 0%, 100%);
}

.header__list {
    display: flex;
}

.header__item {
    margin-left: 15px;
    margin-right: 15px;
}

.header__link {
    text-decoration: none;
    color: hsl(233, 8%, 62%);
}

.header__request {
    padding: 10px 25px;
    color: hsl(0, 0%, 100%);
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}